<section class="my-8 lg:my-16 bg-blue rounded-2xl">
    <div class="flex flex-col xl:flex-row justify-between p-10 md:py-10">
        <div class="flex flex-col md:flex-row lg:flex-col items-start gap-6 w-full xl:w-1/2 pb-8 xl:mb-0 border-b border-white xl:border-b-0 xl:border-r xl:pr-14">
            <div class="w-11 p-1 rounded-lg bg-white/40">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                    <path d="M31.5023 17.9998C31.5023 15.0856 25.4563 12.7236 17.9967 12.7236H16.4961" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.4805 21.2505L19.5063 23.2763L17.4805 25.3022" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <circle cx="17.9978" cy="18.0007" r="13.5056" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.9078 22.9109C27.9358 22.143 31.5023 20.2363 31.5023 17.9998C31.5023 15.0856 25.4563 12.7236 17.9967 12.7236H16.4961" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.0867 13.0889C8.05874 13.8569 4.49219 15.7635 4.49219 18C4.49219 20.9142 10.5382 23.2762 17.9978 23.2762H19.5059" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 31.5059C20.9142 31.5059 23.2762 25.4599 23.2762 18.0003V16.4922" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.9989 4.49512C15.0846 4.49512 12.7227 10.5411 12.7227 18.0007V19.5014" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 4.49512C20.2365 4.49512 22.1431 8.06167 22.9111 13.0896" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.997 31.5061C15.7606 31.5061 13.8539 27.9396 13.0859 22.9116" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="text-base lg:text-2xl font-medium text-white">
                Мы развиваем каталог электронных компонентов, собственный
                цифровой продукт и IT-системы, направленные на
                своевременную доставку товара
            </div>
        </div>
        <div class="flex flex-col md:flex-row lg:flex-col items-start gap-6 w-full xl:w-1/2 mt-8 xl:mt-0 xl:pl-14">
            <div class="w-11 p-1 rounded-lg bg-white/40">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                    <path d="M4.98047 15.7319V11.6183C4.98047 11.093 5.26526 10.609 5.72445 10.3539L9.31983 8.35645" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.335 30.0527L18.6971 32.0734C18.2602 32.3161 17.7289 32.316 17.2921 32.0733L13.6562 30.0527" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M31.0151 20.2676V24.3793C31.0151 24.9044 30.7306 25.3883 30.2716 25.6434L26.6758 27.643" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.6562 5.94678L17.2942 3.92611C17.7311 3.68343 18.2623 3.68349 18.6991 3.92626L22.335 5.94678" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.9964 3.74512V7.87467" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.9964 28.125V32.2558" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.18164 10.8867L8.76983 12.8648" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M27.2266 23.1348L30.8155 25.1133" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M31.0151 15.7319V11.6202C31.0151 11.0951 30.7306 10.6112 30.2716 10.356L26.6758 8.35645" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M4.98047 20.2676V24.3793C4.98047 24.9044 5.26505 25.3883 5.72397 25.6434L9.31983 27.643" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M30.8136 10.8867L27.2266 12.8642" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3231 23.8231L13.2487 21.4949C12.8256 21.2531 12.5645 20.8031 12.5645 20.3157V15.6834C12.5645 15.1961 12.8256 14.746 13.2487 14.5042L17.3231 12.176C17.7407 11.9374 18.2532 11.9374 18.6708 12.176L22.7452 14.5042C23.1683 14.746 23.4295 15.1961 23.4295 15.6834V20.3157C23.4295 20.8031 23.1683 21.2531 22.7452 21.4949L18.6707 23.8231C18.2532 24.0617 17.7406 24.0617 17.3231 23.8231V23.8231Z" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.752 15.002L17.9981 17.9997" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M23.2461 15.002L18 17.9997" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M17.9964 18V24.0004" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.7689 23.1348L5.17969 25.1134" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="text-base font-medium text-white lg:text-2xl">
                Постоянно адаптируем наш сервис в условиях быстро
                меняющейся внешней среды, не стоим на месте и движемся
                вперед
            </div>
        </div>
    </div>
</section>

