<section>
  <h2 class="section-head my-10 md">Направления поставок</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 flex-wrap md:flex-row justify-center md:justify-between pb-10 md:pb-16 xl:pb-24">
    <div class="w-full max-w-[360px] flex flex-col">
      <img class="rounded-2xl mb-7" src="/src/img/shenzhen.jpg" alt="blog cover" />
      <div class="flex flex-col">
        <h3 class="text-2xl font-medium mb-4">Шэньчжэнь</h3>
        <p>
          Офис и склад консолидации
        </p>
      </div>
    </div>
    <div class="w-full max-w-[360px] flex flex-col">
      <img class="rounded-2xl mb-7" src="/src/img/shanghai.jpg" alt="blog cover" />
      <div class="flex flex-col">
        <h3 class="text-2xl font-medium mb-4">Шанхай</h3>
        <p>
          Офис по работе c китайскими производителями
        </p>
      </div>
    </div>
    <div class="w-full max-w-[360px] flex flex-col">
      <img class="rounded-2xl mb-7" src="/src/img/sanktpeterburg.jpg" alt="blog cover" />
      <div class="flex flex-col">
        <h3 class="text-2xl font-medium mb-4">Санкт-Петербург</h3>
        <p>
          Офис и склад
        </p>
      </div>
    </div>
  </div>
</section>
