<!-- tabs 3 -->
<div class="tab-content__item active">
  <div class="flex flex-row-reverse justify-between data-[te-tab-active]:block" data-target="third">
    <img class="w-[50%] object-cover" src="/src/img/tabs3.jpg" alt="Система обработки запросов" />
    <div class="flex flex-col justify-center">
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[1px] before:relative text-base leading-6 text-markerBlue font-medium">
        Дополнительные источники складского наличия в Китае
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[10px] before:relative text-base leading-6 text-markerBlue font-medium">
        Потенциал улучшения цены на чеки от 5000 USD или эквивалент
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[1px] before:relative text-base leading-6 text-markerBlue font-medium">
        Повторяющийся запрос о поступлении на склад
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[10px] before:relative text-base leading-6 text-markerBlue font-medium">
        Расчет поставки от иностранного источника
        (заказная поставка)
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[1px] before:relative text-base leading-6 text-markerBlue font-medium">
        Срок квотации 12 - 24 часов
      </p>
    </div>
  </div>
</div>
