<ul class="hidden w-fulllist md:flex md:flex-row font-body">
  <li class="flex items-center font-medium active__link tablinks md:px-4 md:py-4 rounded-tl-xl">
    Поисковый агрегатор
  </li>
  <li class="flex items-center font-medium tablinks md:px-4 md:py-4">
    Каталог азиатских проивзодителей
  </li>
  <li class="flex items-center font-medium tablinks md:px-4 md:py-4">
    Сиситема обработки запросов
  </li>
  <li class="flex items-center font-medium tablinks md:px-4 md:py-4 rounded-tr-xl">Журнал заказов</li>
</ul>