<div class="border tab-content border-gray rounded-b-xl">
  <!-- tabs 1 -->
  <!-- убрал все лишние паддинги  вывел список  как нужно на 1 слайде -->
  <div class="active flex flex-col md:flex-row md:py-[52px] items-center md:px-6 tab-content__item">
    <!-- Список -->
    <ul class="flex w-full md:max-w-[50%] pl-6 py-4 flex-col gap-5 justify-center">
      <li
        class="before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        50 + источников в поисковой выдаче
      </li>
      <li
        class="before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Опции из складского наличия и размещение в производство
      </li>
      <li
        class="before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Анализ доступности компонента
      </li>
      <li
        class="before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Построчный поиск и списком &#40;загрузка BOM&#41;
      </li>
      <li
        class="before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Кросс-референс аналоги
      </li>
      <li
        class="before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Аналоги по типу упаковки
      </li>
      <li
        class="before:content-markerb before:top-[10px] before:relative text-base leading-6 text-markerBlue font-medium">
        Сохранение результатов поиска в корзине<br />
        &#40;либо пуле корзин &#40;проект/заказ/клиент&#41;
      </li>
      <li class="before:content-markerb before:top-[2px] before:relative text-base text-markerBlue font-medium">
        Динамическое обновление корзины
      </li>
    </ul>
    <div class=" w-full md:max-w-[50%]">
      <img src="/src/img/tabs12.png" alt="Поисковый агрегатор" />
    </div>
  </div>
</div>