<ul class="hidden overflow-x-scroll md:flex tab font-body">
  <li class="flex items-center md:font-medium active__link tablinks rounded-tl-xl lg:px-4 lg:py-4">
    Поисковый агрегатор
  </li>
  <li class="flex items-center font-medium tablinks lg:px-4 lg:py-4">
    Каталог азиатских проивзодителей
  </li>
  <li class="flex items-center font-medium tablinks lg:px-4 lg:py-4">
    Сиситема обработки запросов
  </li>
  <li class="flex items-center font-medium tablinks rounded-tr-xl lg:px-4 lg:py-4">Журнал заказов</li>
</ul>