<!-- tabs 4 -->
<div class="tab-content__item">
  <div class="flex flex-row justify-between data-[te-tab-active]:block" id="fourth" role="tabpanel"
    aria-labelledby="fourth-tab">
    <img class="w-[50%] object-cover" src="/src/img/tabs3.jpg" alt="Журнал заказов" />
    <ul class="flex flex-col justify-center">
      <li class="pb-5 before:content-markerb before:top-[1px] before:relative text-base text-markerBlue font-medium">
        Отслеживание статусов размещенных заказов
      </li>
      <li class="pb-5 before:content-markerb before:top-[1px] before:relative text-base text-markerBlue font-medium">
        Динамическая ожидаемая дата поставки
      </li>
      <li class="pb-5 before:content-markerb before:top-[1px] before:relative text-base text-markerBlue font-medium">
        Выставленные счета и статус оплаты
      </li>
      <li class="pb-5 before:content-markerb before:top-[1px] before:relative text-base text-markerBlue font-medium">
        Просматриваемость заказов подчиненных аккаунтов
      </li>
    </ul>
  </div>
</div>