<!-- tabs 4 -->
<div class="active tab-content__item">
  <div class="flex flex-row justify-between data-[te-tab-active]:block" id="fourth" role="tabpanel"
    aria-labelledby="fourth-tab">
    <img class="w-[50%] object-cover" src="/src/img/tabs3.jpg" alt="Журнал заказов" />
    <div class="flex flex-col justify-center">
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[1px] before:relative text-base leading-6 text-markerBlue font-medium">
        Отслеживание статусов размещенных заказов
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[10px] before:relative text-base leading-6 text-markerBlue font-medium">
        Динамическая ожидаемая дата поставки
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[1px] before:relative text-base leading-6 text-markerBlue font-medium">
        Выставленные счета и статус оплаты
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[10px] before:relative text-base leading-6 text-markerBlue font-medium">
        Просматриваемость заказов подчиненных аккаунтов
      </p>
    </div>
  </div>
</div>
