<!-- tabs 2 -->
<div class="active tab-content__item">
  <div class="flex flex-row justify-between data-[te-tab-active]:block" data-target="second" data-te-tab-activ>
    <img class="w-[50%] object-cover" src="/src/img/tabs2.jpg" alt="Каталог азиатских проивзодителей" />
    <div class="flex flex-col justify-center">
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Параметрический поиск
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Текстовый поиск среди результатов категории
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[10px] before:relative text-base leading-6 text-markerBlue font-medium">
        Кросс-референс аналоги к западным компонентам
        (pin2pin, функциональные)
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Техническая документация онлайн и ссылки для скачивания
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Создание запроса
      </p>
      <p
        class="pl-[52px] pb-5 before:content-markerb before:top-[2px] before:relative text-base leading-6 text-markerBlue font-medium">
        Проверка на складское наличие компонента
      </p>
    </div>
  </div>
</div>
