<section class="mb-5 bg-regalblue">
  <div class="max-w-[1220px] px-[30px] mx-auto">
    <div class="py-10 md:pt-[62px] md:pb-[102px]">
      <h2
        class="font-pro text-black lg:text-[46px] md:text-[26px] lg:leading-[31.03px] text-[26px] leading-[31.03px] font-normal">
        О нас
      </h2>
      <div class="flex flex-col items-center md:gap-36 mt-9 md:flex-row">
        <div class="w-full md:w-[60%]">
          <p class="text-markerBlue font-body text-[24px] leading-[32px]">
            Мы знаем, что такое лазерное излучение,<br />LTL перевозки, PHP и
            работа с данными
          </p>
        </div>
        <button type="button"
          class="text-black group border border-bordertabs hover:text-white bg-white hover:bg-blue font-medium rounded-xl text-base px-[122.08px] py-[30.86px] text-center inline-flex items-center">
          Подробнее
          <svg class="w-[50px] h-[8px]" width="23" height="8" viewBox="0 0 23 8" fill="currentColor" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M22.1602 4.35355C22.3555 4.15829 22.3555 3.84171 22.1602 3.64645L18.9782 0.464466C18.783 0.269204 18.4664 0.269204 18.2711 0.464466C18.0758 0.659728 18.0758 0.976311 18.2711 1.17157L21.0995 4L18.2711 6.82843C18.0758 7.02369 18.0758 7.34027 18.2711 7.53553C18.4664 7.7308 18.783 7.7308 18.9782 7.53553L22.1602 4.35355ZM0.806641 4.5H21.8066V3.5H0.806641V4.5Z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>