<section class="bg-blue/5">
  <div class="container px-[30px] mx-auto">
    <div class="py-10 md:pt-[62px] md:pb-[102px]">
      <h2 class="section-head mb-6">О нас</h2>
      <div class="flex flex-col md:flex-row items-center">
        <p class="w-full md:w-[60%] text-blue font-body text-[24px] leading-[32px] mb-6 md:mb-0 md:mr-36">
          Мы знаем, что такое лазерное излучение,<br />LTL перевозки, PHP и
          работа с данными
        </p>
        <div class="w-full 2xs:w-[360px]">
          <button type="button" class="btn-more w-full py-4 md:py-8 flex items-center justify-center">
              <span class="mr-2">Подробнее</span>
              <svg width="23" height="8" viewBox="0 0 23 8" fill="currentColor" aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg">
                  <path d="M22.1602 4.35355C22.3555 4.15829 22.3555 3.84171 22.1602 3.64645L18.9782 0.464466C18.783 0.269204 18.4664 0.269204 18.2711 0.464466C18.0758 0.659728 18.0758 0.976311 18.2711 1.17157L21.0995 4L18.2711 6.82843C18.0758 7.02369 18.0758 7.34027 18.2711 7.53553C18.4664 7.7308 18.783 7.7308 18.9782 7.53553L22.1602 4.35355ZM0.806641 4.5H21.8066V3.5H0.806641V4.5Z" />
              </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
