<section class="container px-[30px] mx-auto py-24">
  <h2 class="section-head text-center mb-16">Сервисы в личном кабинете</h2>

  <div class="tabs-container relative h-[46px] md:h-auto z-10 select-none">
    <nav class="tabs">
      <ul class="tab-nav-items">
        <li class="tab-nav-item active" data-tab="tab-1">Поисковый агрегатор</li>
        <li class="tab-nav-item" data-tab="tab-2">Каталог азиатских производителей</li>
        <li class="tab-nav-item" data-tab="tab-3">Система обработки запросов</li>
        <li class="tab-nav-item" data-tab="tab-4">Журнал заказов</li>
      </ul>
    </nav>
  </div>
  <div id="tab-1" class="tab-content current">
    <div class="flex flex-col xl:flex-row xl:flex-row-reverse md:py-12 items-center md:px-6 xl:px-12 border-gray rounded-b-xl md:border">
      <img class="w-full xl:w-1/2 my-7 xl:my-0" src="/src/img/tab_img1.png" alt="Поисковый агрегатор" />
      <ul class="flex w-full xl:w-1/2 flex-col justify-center text-blue text-sm md:text-base pl-4 sm:pl-6 md:pl-12 xl:pl-0 xl:mr-10">
        <li class="list-item-square before:bg-blue mb-5">50 + источников в поисковой выдаче</li>
        <li class="list-item-square before:bg-blue mb-5">Опции из складского наличия и размещение в производство</li>
        <li class="list-item-square before:bg-blue mb-5">Анализ доступности компонента</li>
        <li class="list-item-square before:bg-blue mb-5">Построчный поиск и списком (загрузка BOM)</li>
        <li class="list-item-square before:bg-blue mb-5">Кросс-референс аналоги</li>
        <li class="list-item-square before:bg-blue mb-5">Аналоги по типу упаковки</li>
        <li class="list-item-square before:bg-blue mb-5">
          Сохранение результатов поиска в корзине<br />
          либо пуле корзин (проект/заказ/клиент);
        </li>
        <li class="list-item-square before:bg-blue">Динамическое обновление корзины</li>
      </ul>
    </div>
  </div>
  <div id="tab-2" class="tab-content">
    <div class="flex flex-col xl:flex-row md:py-12 items-center md:px-6 xl:px-12 border-gray rounded-b-xl md:border">
      <img class="w-full xl:w-1/2 my-7 xl:my-0 xl:mr-10" src="/src/img/tab_img2.png" alt="Каталог азиатских производителей" />
      <ul class="flex w-full xl:w-1/2 flex-col justify-center text-blue text-sm md:text-base pl-4 sm:pl-6 md:pl-12 xl:pl-0">
        <li class="list-item-square before:bg-blue mb-5">Параметрический поиск</li>
        <li class="list-item-square before:bg-blue mb-5">Текстовый поиск среди результатов категории</li>
        <li class="list-item-square before:bg-blue mb-5">
          Кросс-референс аналоги к западным компонентам
          (pin2pin, функциональные)
        </li>
        <li class="list-item-square before:bg-blue mb-5">Техническая документация онлайн и ссылки для скачивания</li>
        <li class="list-item-square before:bg-blue mb-5">Создание запроса</li>
        <li class="list-item-square before:bg-blue">Проверка на складское наличие компонента</li>
      </ul>
      </div>
  </div>
  <div id="tab-3" class="tab-content">
    <div class="flex flex-col xl:flex-row xl:flex-row-reverse md:py-12 items-center md:px-6 xl:px-12 border-gray rounded-b-xl md:border">
      <img class="w-full xl:w-1/2 my-7 xl:my-0" src="/src/img/tab_img3.png" alt="Система обработки запросов" />
      <ul class="flex w-full xl:w-1/2 flex-col justify-center text-blue text-sm md:text-base pl-4 sm:pl-6 md:pl-12 xl:pl-0 xl:mr-10">
        <li class="list-item-square before:bg-blue mb-5">Дополнительные источники складского наличия в Китае</li>
        <li class="list-item-square before:bg-blue mb-5">Потенциал улучшения цены на чеки от 5000 USD или эквивалент</li>
        <li class="list-item-square before:bg-blue mb-5">Повторяющийся запрос о поступлении на склад</li>
        <li class="list-item-square before:bg-blue mb-5">Срок квотации 12 - 24 часов</li>
        <li class="list-item-square before:bg-blue">Повторяющийся запрос о поступлении на склад</li>
      </ul>
    </div>
  </div>
  <div id="tab-4" class="tab-content">
    <div class="flex flex-col xl:flex-row md:py-12 items-center md:px-6 xl:px-12 border-gray rounded-b-xl md:border">
      <img class="w-full xl:w-1/2 my-7 xl:my-0 xl:mr-10" src="/src/img/tab_img4.png" alt="Журнал заказов" />
      <ul class="flex w-full xl:w-1/2 flex-col justify-center text-blue text-sm md:text-base pl-4 sm:pl-6 md:pl-12 xl:pl-0">
        <li class="list-item-square before:bg-blue mb-5">Отслеживание статусов размещенных заказов</li>
        <li class="list-item-square before:bg-blue mb-5">Динамическая ожидаемая дата поставки</li>
        <li class="list-item-square before:bg-blue mb-5">Выставленные счета и статус оплаты</li>
        <li class="list-item-square before:bg-blue">Просматриваемость заказов подчиненных аккаунтов</li>
      </ul>
    </div>
  </div>
</section>
